.gallery {
    padding: 2rem;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery ul li {
    margin-left: 2.5rem;
}

.gallery ul li:first-child {
    margin-left: 0;
}

.gallery ul li a img {
    height: 18rem;
    border: 0.6rem solid #fff;
    border-radius: 1.5rem;
}