a.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

a.link-button .icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.3rem;
    background-color: var(--primary-color);
    border: 0.1rem solid #fff;
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link-button .icon .play-icon {
    border: 0.7rem solid #fff;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -0.7rem;
}

a.link-button .label {
    margin-left: 1rem;
}