@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #b9001f;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
    box-sizing: border-box;

    vertical-align: baseline;
    list-style: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}