<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider Man Multiversos</title>

    <!--style internal-->
    <link rel="stylesheet" href="../../src/styles/internal.css">
</head>
<body>
    <section class="s-wrapper">
        <aside class="s-left-column">
            <nav class="navigator">
                <div class="navigator__icon">
                    <a href="../../index.html">
                        <img src="../../src/assets/images/icons/spiderman1.png" alt="logo spiderman">
                    </a>
                </div>
                <ul>
                    <li><a href="#01">01</a></li>
                    <li><a href="#02">02</a></li>
                    <li><a href="#03">03</a></li>
                </ul>
            </nav>
        </aside>

        <main class="s-main-content">

        </main>
    </section>
</body>
</html>