<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider Man Multiversos</title>

    <!--style favicon-->
    <link rel="shortcut icon" href="../../src/assets/images/icons/spider.svg" type="image/x-icon">

    <!--linked fancybox-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>

    <!--style internal-->
    <link rel="stylesheet" href="../../src/styles/internal.css">
</head>
<body>
    <section class="s-wrapper" style="height: 120vh;">
        <!--<video autoplay loop muted>
            <source  src="../../src/assets/videos/spiderman-2017-trailer.mp4" type="video/mp4"/>
        </video>-->

        <aside class="s-left-column">
            <nav class="navigator">
                <div class="navigator__icon">
                    <a href="../../index.html">
                        <img src="../../src/assets/images/icons/spiderman1-tom.png" alt="logo spiderman">
                    </a>
                </div>
                <ul>
                    <li><a href="./spiderman1.html">01</a></li>
                    <li><a class="linked" href="#">02</a></li>
                    <li><a href="./spiderman3.html">03</a></li>
                </ul>
            </nav>
        </aside>

        <main class="s-main-content s-spaiderman-03-02"><!-- s-spaiderman-03-02-->
            <div class="s-main-content__top" style="height: 100vh;">
                <div class="s-logo">
                    <img src="../../src/assets/images/spiderman-tom/movie-02/logo.png" alt="logo spider-man (2019)" title="Spiderman (2019)">
                </div>

                <div class="s-description">
                    <div class="pills">
                        <ul>
                            <li>Ano: 2019</li>
                            <li>Diretor: Jon Watts</li>
                        </ul>
                    </div>
                    
                    <div class="s-description__text">
                        <p><strong>Sinopse:</strong>&nbsp;Peter Parker está em uma viagem de duas semanas pela Europa, ao lado 
                            de seus amigos de colégio, quando é surpreendido pela visita de Nick Fury. Convocado para mais uma 
                            missão heroica, ele precisa enfrentar vários vilões que surgem em cidades-símbolo do continente, 
                            como Londres, Paris e Veneza, e também a aparição do enigmático Mysterio.</p>
                    </div>
                </div>

                <div class="s-links">
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/watch?v=Nt9L1jCKGnE" class="link-button" target="_blank">
                                <span class="icon">
                                    <div class="play-icon">&nbsp;</div>
                                </span>
                                <span class="label">
                                    Assistir trailer
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="s-main-content__bottom">
                <div class="gallery">
                    <ul>
                        <li>
                            <a datafancybox href="../../src/assets/images/spiderman-tom/movie-01/gallery/image-01.png">
                                <img src="../../src/assets/images/spiderman-tom/movie-01/gallery/image-01.png" alt="imagem do filme Spiderman">
                            </a>
                        </li>
                        <li>
                            <a datafancybox href="../../src/assets/images/spiderman-tom/movie-01/gallery/image-02.png">
                                <img src="../../src/assets/images/spiderman-tom/movie-01/gallery/image-02.png" alt="imagem do filme Spiderman">
                            </a>
                        </li>
                        <li>
                            <a datafancybox href="../../src/assets/images/spiderman-tom/movie-01/gallery/image-03.png">
                                <img src="../../src/assets/images/spiderman-tom/movie-01/gallery/image-03.png" alt="imagem do filme Spiderman">
                            </a>
                        </li>
                        <li>
                            <a datafancybox href="../../src/assets/images/spiderman-tom/movie-01/gallery/image-04.png">
                                <img src="../../src/assets/images/spiderman-tom/movie-01/gallery/image-04.png" alt="imagem do filme Spiderman">
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
        </main>
    </section>

    <!--linked fancybox-->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js" defer></script>
</body>
</html>